<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.com.commoncore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".widget.photoPicker.MyPhotoPickerActivity" />
        <activity android:name=".widget.photoPicker.MyPhotoPickerPreviewActivity" />
        <activity android:name=".base.BrowerActivity" />
        <activity android:name=".others.UserAgreementActivity" />

        <!-- 解决 9.0 手机的通讯问题 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>
